<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Task Manager</h1>
    <nav>
      <ul>
        <li> <a href="/" title="Home">Home</a></li>
        <li> <a href="/tasks" title="Task Index">Task Index</a></li>
        <li> <a href="/tasks/new" title="New Tasks">Create Task</a></li>
      </ul>
    </nav>
  </header>
  <section>
    <%= yield %>
  </section>
</body>
</html>