<div class="task-forms">
  <form action="/tasks" method="post">
    <h3>Enter a new task:</h3>
    <h4>Title</h4>
    <input type='text' name='task[title]'/><br/>
    <h4>Description</h4>
    <textarea name='task[description]'></textarea><br/>
    <input type='submit' class="btn btn-success"/>
  </form>
</div>