<form action="/tasks" method="post">
  <h3>Enter a new task:</h3>
  <input type='text' name='task[title]' /><br/>
  <textarea name='task[description]'></textarea><br/>
  <input type='submit'/>
</form>